@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<form asp-controller="Account" asp-action="Userinfo"
      asp-route-returnUrl="@ViewData["ReturnUrl"]" method="Get" class="form-inline">
    <button type="submit" class="btn btn-primary">
        <span class="fab fa-google"></span> Log in with Google
    </button>
</form>
<h1>TEST Message</h1>

<h1>Hello Wold</h1>

<h1>Hello Wold</h1>
<h2>Good Morning</h2>
